<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h1 style="text-align:center;">Agendar citas paciente</h1>
        <div class="thumbnail" style="padding:1em;">
            <div class="row">
                <div class="col-lg-6">
                    <lebel>Paciente</lebel>
                    <select class="form-control" type="select" onchange={{action 'actualizarCalendario' value="target.value"}} >
                        <option value="0">--Seleccione paciente--</option>
                        {{#each model.pacients as |item|}}
                            <option value="{{item.docId}}">{{item.name}} {{item.lastName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <br>

            <div>
                <button class="btn" {{action "mostrarFormulario"}} style="margin-bottom:1em;">Agregar cita</button>
            </div>



            <div class="thumbnail" style="display:{{verFormulario}};">
                <legend>Cita</legend>
                <div class="row">
                    <div class="col-lg-3">
                        <lebel>Doctor</lebel>
                        <select class="form-control" type="select" onchange={{action 'actualizarDoctor' value="target.value"}} >
                            <option value="0">--Seleccione doctor--</option>
                            {{#each model.doctors as |item|}}
                                <option value="{{item.docId}}">{{item.name}} {{item.lastName}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="col-lg-3">
                        <lebel>Dirección</lebel>
                        {{input value=direccion class="form-control" placeholder="direccion"}}
                    </div>

                    <div class="col-lg-3">
                        <lebel>Fecha y hora</lebel>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input id="fecha" type='text' class="form-control" readonly="true" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#datetimepicker1').datetimepicker({locale: 'es', format:'YYYY-MM-DD HH:mm',ignoreReadonly:true});
                            });
                        </script>
                    </div>

                    <div class="col-lg-2">
                        <lebel>Duración (Horas)</lebel>
                        {{input value=duracion class="form-control" type="number"}}
                    </div>

                    <div class="col-lg-2">
                        <lebel>Valor</lebel>
                        {{input value=valor class="form-control" type="number"}}
                    </div>
                </div>

                <div class="row">
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <br>
                        <button class="btn btn-success" {{action "guardarCita"}}>Guardar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div style="background-color:white !important;">
{{full-calendar events=events id="calendar"}}
</div>
<!--<div id="calendar"></div>-->
<!--<script type="text/javascript">-->
    <!--$('#calendar').fullCalendar({-->
        <!--locale: 'es'-->
    <!--});-->
<!--</script>-->
