<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="thumbnail" style="padding:1em;">
        <legend>Registrar cita</legend>
            <div class="row">
                <div class="col-lg-3">
                    <lebel>Paciente</lebel>
                    <select class="form-control" type="select" onchange={{action 'actualizarCalendario' value="target.value"}} >
                        {{#each model as |item|}}
                            <option value="{{item.docId}}">{{item.name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="col-lg-3">
                    <lebel>Dirección</lebel>
                    {{input value=direccion class="form-control" placeholder="direccion"}}
                </div>

                <div class="col-lg-3">
                    <lebel>Fecha</lebel>
                    {{input value=direccion class="form-control" placeholder="direccion"}}
                </div>

                <div class="col-lg-3">
                    <lebel>Hora</lebel>
                    {{input value=direccion class="form-control" placeholder="direccion"}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3">
                    <lebel>Duración</lebel>
                    {{input value=direccion class="form-control" placeholder="direccion"}}
                </div>
                <div class="col-lg-3">
                    <br>
                    <button class="btn btn-success" {{action "guardarCita"}}>Guardar</button>
                </div>
            </div>
      </div>
    </div>
</div>

{{full-calendar events=events}}