<div class="jumbo">
  <h2 style="text-align:center;">Doctores</h2>

  {{#each model as |doctor|}}
    <article class="listing">
        <span></span>
        <h3>{{doctor.name}} {{doctor.lastName}}</h3>
        <br>
        <span>cc: {{doctor.docId}}</span>
        <br>
        <span>Dirección: {{doctor.address}}</span>
        <br>
        <span>Hora de inicio: {{doctor.init}}</span>
        <br>
        <span>Hora de salida: {{doctor.end}}</span>
        <br>
        <span>Género: {{doctor.gender}}</span>
        <br>
        <span>Cumpleaños: {{doctor.birthday}}</span>
        <br>
        <span>Teléfono: {{doctor.phone}}</span>

        <br>
        {{#link-to 'doctors.schedule' doctor.docId (query-params doctor_id=doctor.docId) class="btn btn-success"}}
          horario de trabajo
        {{/link-to}}
    </article>
  {{/each}}
</div>
