<div class="jumbo">
  <h2>Pacientes</h2>
  {{#link-to 'index' class="btn btn-warning"}}
    Volver al index
  {{/link-to}}
  {{#each model as |paciente|}}
    <article class="listing">
        <span></span>
        <h3>{{paciente.name}} {{paciente.lastName}}</h3>
        <span>cc: {{pacient.docId}}</span>
        <span>Dirección: {{pacient.address}}</span>
        <br>
        <span>Ocupación: {{pacient.job}}</span>
        <br>
        <span>Género: {{pacient.gender}}</span>
        <br>
        <span>Cumpleaños: {{pacient.birthday}}</span>
        <br>
        <span>Teléfono: {{pacient.phone}}</span>
    </article>
  {{/each}}
</div>