<div class="jumbo">
  <h2 style="text-align:center;">Pacientes</h2>

  {{#each model as |pacient|}}
    <article class="listing">
        <span></span>
        <h3>{{pacient.name}} {{pacient.lastName}}</h3>
        <br>
        <span>cc: {{pacient.docId}}</span>
        <br>
        <span>Dirección: {{pacient.address}}</span>
        <br>
        <span>Ocupación: {{pacient.job}}</span>
        <br>
        <span>Género: {{pacient.gender}}</span>
        <br>
        <span>Cumpleaños: {{pacient.birthday}}</span>
        <br>
        <span>Teléfono: {{pacient.phone}}</span>
    </article>
  {{/each}}
</div>
